@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$primary-color: #6c71f9;
$secondary-color: #54c1fb;
$third-color: #272848;
$fourth-color: #6c6d8a;
$fifth-color: #fff;

$border-color :#e5e5e5;
$input-color:#e0e0e0;

$frame-shadow : #00000013;
$light-box-shadow : #e2e2e29c;
$blue-box-shadow:#6d72f90e;

$danger: #f24444;
$success: #00c853;
$gray-color: #494a57;

// admin 

$box-shadow: #0000000d;
$gray:#8b8b8b;

$chart-color: rgba(108, 113, 249, 0.267);
$border-chart-color: rgba(108, 113, 249, 0.795);

.app-header {
    // box-shadow: 0 3px 6px 0 rgb(83 25 56 / 1%);
    border-bottom: 1px solid lighten($color: $border-color, $amount: 80%);
    background-color: $fifth-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    transition: width .1s;
    //
    padding: 0px 1% 0px 7%;
    box-shadow: 0 0 10px $frame-shadow;
    position: sticky; /* full fixed */
    top: 0;
    z-index: 1; /* Layer order */
  
    .left-side{
      float: left;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .header-element {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-block {
          height: 100%;
          a {
            display: block;
            height: 100%;
            background-color: transparent;
            font-weight: 600;
          }
          .app {
            padding: 0 18px;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 24px;
              cursor: pointer;
              .fas, .far {
                font-size: 24px;
                margin-right: 15px;
                color: $primary-color;  
              }
            }
          }
        }
      }
    }
    .right-side{
      float: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .header-element {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $border-color;
        .notifications-block {
          height: 100%;
          a {
            display: block;
            height: 100%;
            color: $third-color;  
            background-color: transparent;
          }
          .bell {
              padding: 0 18px;
              position: relative;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .count {
                  right: 10px;
                  background-color: $danger;
                  border-radius: 22px;
                  padding: 0 5px;
                  text-align: center;
                  color: $fifth-color;
                  height: 22px;
                  position: absolute;
                  top: 7px;
                  font-size: 12px;
                  min-width: 22px;
                  line-height: 22px;
                  z-index: 1;
              }
              .icon{
                display: block;
                height: 24px;
                color: $third-color;
                cursor: pointer;
  
                .far {
                    width: 24px;
                    height: 24px;
                    font-size: 24px;
                }
              }
          }
        }
        .applications-block {
          height: 100%;
          a {
            display: block;
            height: 100%;
            color: $third-color;  
            background-color: transparent;
          }
          .applications {
              padding: 0 18px;
              position: relative;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .icon{
                display: block;
                height: 24px;
                color: $third-color;
                cursor: pointer;
                img {
                    width: 25px;
                    height: 25px;
                }
              }
          }
        }
        .user-block {
          border-right: 1px solid $border-color;
          width: 74px;
          .dropdown-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            img{
              cursor: pointer;
              width: 38px;
              height: 38px;
            }
          }
        }
        .dropdown {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          // user
          .dropdown-content.active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
          .dropdown-content:before {
            right: 12px;
            transform: rotate(45deg);
            border-right: 0;
            background-color: #fcfcfc;
            border: 1px solid $border-color;
            border-right: 0px;
            border-bottom: 0;
            content: "";
            position: absolute;
            top: -6px;
            width: 10px;
            height: 10px;
          }
          .dropdown-content{
            right: 18px;
            border-radius: 0 0 3px 3px;
            box-shadow: 0 5px 20px -10px ;
            background-color: $fifth-color;
            border: 1px solid $border-color;
            transform: translateY(10px);
            width: 190px;
            position: absolute;
            z-index: 3;
            top: 65px;
            opacity: 0;
            visibility: hidden;
            transition: all .35s ease-in-out;
            .dropdown-header {
              border-bottom: 1px solid $border-color;
              background-color: #fcfcfc;
              padding: 10px 15px;
              .directeur-name {
                display: block;
                font-size: 13px;
                color: $third-color;
              }
              h6.code-gresa {
                font-size: 13px;
                font-weight: 400;
                color: $third-color;
                a {
                  font-weight: 600;
                  background-color: transparent;
                  color: $primary-color;
                }
              }
            }
            .dropdown-body{
              .dropdown-list{
                padding: 10px 0;
                li:not(:last-child) {
                  padding-bottom: 10px;
                }
                li {
                  transition: padding-left .25s ease-in-out;
                  padding: 0 15px;
                  a{
                    display: flex;
                    align-items: center;
                    display: block;
                    font-size: 13px;
                    color: $third-color;
                    background-color: transparent;
                  }
                }
              }
              .dropdown-list:not(:last-child) {
                border-bottom: 1px solid $border-color;
              }
            }
          }
        }
      }
    }
  }