$primary-color: #6c71f9;
$secondary-color: #54c1fb;
$third-color: #272848;
$fourth-color: #6c6d8a;
$fifth-color: #fff;

$border-color :#e5e5e5;
$input-color:#e0e0e0;

$frame-shadow : #00000013;
$light-box-shadow : #e2e2e29c;
$blue-box-shadow:#6d72f90e;

$danger: #f24444;
$success: #00c853;
$gray-color: #494a57;

// admin 

$box-shadow: #0000000d;
$gray:#8b8b8b;

$chart-color: rgba(108, 113, 249, 0.267);
$border-chart-color: rgba(108, 113, 249, 0.795);

.auth-wrapper {
  background-image: url('../../Assets/login-bg.png');
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover;
}
// navbar
.app-header {
  // box-shadow: 0 3px 6px 0 rgb(83 25 56 / 1%);
  border-bottom: 1px solid lighten($color: $border-color, $amount: 80%);
  background-color: $fifth-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  transition: width .1s;
  //
  padding: 0px 1% 0px 7%;
  box-shadow: 0 0 10px $frame-shadow;
  position: sticky; /* full fixed */
  top: 0;
  z-index: 1; /* Layer order */

  .left-side{
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    .header-element {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .app-block {
        height: 100%;
        a {
          display: block;
          height: 100%;
          background-color: transparent;
          font-weight: 600;
        }
        .app {
          padding: 0 18px;
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            cursor: pointer;
            .fas, .far {
              font-size: 24px;
              margin-right: 15px;
              color: $primary-color;  
            }
          }
        }
      }
    }
  }
  .right-side{
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    .header-element {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $border-color;
      .notifications-block {
        height: 100%;
        a {
          display: block;
          height: 100%;
          color: $third-color;  
          background-color: transparent;
        }
        .bell {
            padding: 0 18px;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .count {
                right: 10px;
                background-color: $danger;
                border-radius: 22px;
                padding: 0 5px;
                text-align: center;
                color: $fifth-color;
                height: 22px;
                position: absolute;
                top: 7px;
                font-size: 12px;
                min-width: 22px;
                line-height: 22px;
                z-index: 1;
            }
            .icon{
              display: block;
              height: 24px;
              color: $third-color;
              cursor: pointer;

              .far {
                  width: 24px;
                  height: 24px;
                  font-size: 24px;
              }
            }
        }
      }
      .applications-block {
        height: 100%;
        a {
          display: block;
          height: 100%;
          color: $third-color;  
          background-color: transparent;
        }
        .applications {
            padding: 0 18px;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
              display: block;
              height: 24px;
              color: $third-color;
              cursor: pointer;
              img {
                  width: 25px;
                  height: 25px;
              }
            }
        }
      }
      .user-block {
        border-right: 1px solid $border-color;
        width: 74px;
        .dropdown-toggle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          img{
            cursor: pointer;
            width: 38px;
            height: 38px;
          }
        }
      }
      .dropdown {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // user
        .dropdown-content.active {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
        .dropdown-content:before {
          right: 12px;
          transform: rotate(45deg);
          border-right: 0;
          background-color: #fcfcfc;
          border: 1px solid $border-color;
          border-right: 0px;
          border-bottom: 0;
          content: "";
          position: absolute;
          top: -6px;
          width: 10px;
          height: 10px;
        }
        .dropdown-content{
          right: 18px;
          border-radius: 0 0 3px 3px;
          box-shadow: 0 5px 20px -10px RGB(0 0 0 / 10%);
          background-color: $fifth-color;
          border: 1px solid $border-color;
          transform: translateY(10px);
          width: 190px;
          position: absolute;
          z-index: 3;
          top: 65px;
          opacity: 0;
          visibility: hidden;
          transition: all .35s ease-in-out;
          .dropdown-header {
            border-bottom: 1px solid $border-color;
            background-color: #fcfcfc;
            padding: 10px 15px;
            .directeur-name {
              display: block;
              font-size: 13px;
              color: $third-color;
            }
            h6.code-gresa {
              font-size: 13px;
              font-weight: 400;
              color: $third-color;
              a {
                font-weight: 600;
                background-color: transparent;
                color: $primary-color;
              }
            }
          }
          .dropdown-body{
            .dropdown-list{
              padding: 10px 0;
              li:not(:last-child) {
                padding-bottom: 10px;
              }
              li {
                transition: padding-left .25s ease-in-out;
                padding: 0 15px;
                a{
                  display: flex;
                  align-items: center;
                  display: block;
                  font-size: 13px;
                  color: $third-color;
                  background-color: transparent;
                }
              }
            }
            .dropdown-list:not(:last-child) {
              border-bottom: 1px solid $border-color;
            }
          }
        }
      }
    }
  }
}
// end navbar

/* main */
.container{
  background-color: #6d72f904;
  padding: 25px 25px 25px 8%;
  min-width: 100%;
}

/* end main */
// sidebar
.sidebar {
  width: 6%;
  background-image: linear-gradient(60deg,$primary-color,#4d51c9);
  box-shadow: 0 0 10px $frame-shadow;
  height: 100vh; /* full height */
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 8px;
  .text-slide {
    color: $fifth-color;
    font-size: 13px;
  }
  .text-slide:hover {
    background-color: $primary-color;
  }
  .active {
    background-color: $primary-color;
  }
}
// end sidebar

// grid system
.wrapperGrid {
  display: grid;
  grid-gap: 15px 15px;
}

// departement / index
.fit {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
// profile / home
.fitColumns {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.remove-field{
    border-radius: 3px;
    border: 1px solid $input-color;
    border-left: 0px;
}
.cancel-field{
  border-radius: 3px;
  border: 1px solid $input-color;
  border-left: 0px;
}

// Profile alert 
.profile-success{
    background: #d4edda;
    padding: 10px 20px;
    min-width:320px;
    position: absolute;
    right:0px;
    bottom:0;
    border-radius: 4px;
    border-left: 8px solid #4BB543;
    overflow: hidden;
    opacity: 1;
    margin: 15px;
}
.profile-success .fa-check-circle{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #4BB543;
  font-size: 20px;
}
.profile-success .msg{
  padding: 0 20px;
  margin:0px 10px 0px 0px ;
  font-size: 13px;
  font-weight: bold;
  color: #4BB543;
}
.profile-success .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #4bb5432f;
  padding: 10px 15px;
  cursor: pointer;
}
.profile-success .close-btn:hover{
  background: #4bb5432f;
}
.profile-success .close-btn .fas{
  color: #4BB543;
  font-size: 15px;
  line-height: 40px;
}
.profile-success.hide{
  opacity: 0;
  pointer-events: auto;
}

  
// Profile alert
.profile-info{
  background: #6d72f936;
  padding: 10px 20px;
  min-width:320px;
  position: absolute;
  right:15px;
  bottom:0;
  border-radius: 4px;
  border-left: 8px solid $primary-color;
  overflow: hidden;
  opacity: 1;
  margin: 10px;
}
.profile-info .fa-info-circle{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: $primary-color;
  font-size: 20px;
}
.profile-info .msg{
  padding: 0 20px;
  margin:0px 10px 0px 0px ;
  font-size: 13px;
  font-weight: bold;
  color: $primary-color;
}
.profile-info .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #6d72f92c;
  padding: 10px 15px;
  cursor: pointer;
}
.profile-info .close-btn:hover{
  background: #6d72f92c;
}
.profile-info .close-btn .fas{
  color: $primary-color;
  font-size: 15px;
  line-height: 40px;
}
.profile-info.hide{
  opacity: 0;
  pointer-events: auto;
}

.section-login .login{
  box-shadow: -4px -3px 85px 0px $light-box-shadow;
  border: 1px solid $border-color;
  border-radius: 3px;
  
  min-width: 630px;
  min-height: 230px;
  max-width: 1000px;

  form{
    margin-top: 10px;
  }
}

.section-login .login .fas-login{
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid $input-color;
  border-top: 1px solid $input-color;
  border-bottom: 1px solid $input-color;
  padding: 12px 12px;
  background-color: $fifth-color;
}
.login-input{
  border-radius: 0px 3px 3px 0px;
  padding: 8px 12px;
  border: 1px solid $input-color;
}
.card-login{
  border-color: #fafafa;
  box-shadow: -4px -3px 85px 0px $light-box-shadow;
}


.deleteEmailButton,
.deletePhoneButton{
  color: $danger;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  // login page
  .section-login .login{
    min-width: 300px;
    min-height: 130px;
    max-width: 340px;
  }
  .auth-wrapper {
    background-image: url('../../Assets/mobile-login-bg.png');
  }
  // departement
  .departements-item-desc{
    font-size: 13px;
  }
  .departement-desc{
    font-size: 14px;
  }
  .departement-back{
    display: none;
  }
  // form
  .label-formulaire{
    font-size: 12px;
  }
  .remove-field{
    font-size: 11px;
    padding: 0px 8px;
  }
  // navbar
  .app-logo{
    font-size: 12px;
  }
  // table
  table{
    .invisibleColumn{
      display:none;
    }
  }
  /* Alert Error */
  .alert{
    min-width:300px;
    position: absolute;
    right:0px;
    padding: 5px 25px;
    bottom:0;
    margin: 15px;
    .msg {
      font-size: 9px;
    }
  }
  .type-parc{
    display: none;
  }
  .marque-spec{
    display: none;
  }
  .informatiqueModal{
    margin-top: 50%;
  }
  .declarationModal{
    margin-top:20%;
  }
  .panneModal{
    margin-top:5%;
  }
  .desktopConfirmation{
    display: none;
  }
  .fitColumns {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .success .msg, .delete .msg{
    padding: 0 0px;
    margin:0px 0px 0px 0px;
  }
  // data tables
  .page-link{
    padding: 8px 8.5px;
    font-size:10px;
  }
  // departement / index
  .fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  // profile
  .fitColumns {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  // formulaire
  input, .remove-field, .si-type, .btn-search, .fas-login, .login-input .dateTime, .form-select{
    font-size:10px;
    height: 32px;
  }
  .actions{
    padding: 0px 5px; width:35px;
  }
}
  
/* Media Query for low resolution  Tblets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  // login
  .section-login .login{
    min-width: 300px;
    min-height: 130px;
    max-width: 340px;
  }
  .auth-wrapper {
    background-image: url('../../Assets/mobile-login-bg.png');
  }
    // departement
  .departements-item-desc{
    font-size: 13px;
  }
  .departement-desc{
    font-size: 14px;
  }
  .departement-back{
    display: none;
  }
  //form
  .remove-field{
    font-size: 11px;
    padding: 0px 8px;
  }
  .label-formulaire{
    font-size: 12px;
  }

  .text-span-slide{
    font-size: 8px;
  }
  .app-logo{
    font-size: 14px;
  }
  table{
    .invisibleColumn{
      display:none;
    }
  }
  .alert{
    min-width:300px;
    position: absolute;
    right:0px;
    padding: 5px 25px;
    bottom:0;
    margin: 15px;
    .msg {
      font-size: 9px;
    }
  }
  .type-parc{
    display: none;
  }
  .marque-spec{
    display: none;
  }
  .informatiqueModal{
    margin-top: 50%;
  }
  .declarationModal{
    margin-top:20%;
  }
  .panneModal{
    margin-top:5%;
  }
  .desktopConfirmation{
    display: none;
  }
  .success .msg, .delete .msg{
    padding: 0 0px;
    margin:0px 0px 0px 0px;
  }
  // data tables
  .page-link{
    padding: 8px 8.5px;
    font-size:10px;
  }
  // departement / index
  .fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  // profile
  .fitColumns {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  // formulaire
  input, .remove-field, .si-type, .btn-search, .fas-login, .login-input .dateTime, .form-select{
    font-size:10px;
    height: 32px;
  }
  .actions{
    padding: 0px 5px; width:35px;
  }
}
  
/* Media Query for Tblets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  // login
  .section-login .login{
    min-width: 300px;
    min-height: 130px;
    max-width: 340px;
  }
  .auth-wrapper {
    background-image: url('../../Assets/mobile-login-bg.png');
  }
  // departement
  .departements-item-desc{
    font-size: 14px;
  }
  .departement-desc{
    font-size: 14px;
  }
  .departement-back{
    display: none;
  }
  // form
  .label-formulaire{
    font-size: 12px;
  }
  .remove-field{
    font-size: 11px;
    padding: 0px 8px;
  }

  .text-span-slide{
    font-size: 9px;
  }
  .app-logo{
    font-size: 14px;
  }
  table{
    .invisibleColumn{
      display:none;
    }
  }
  .alert{
    min-width:300px;
    position: absolute;
    right:0px;
    padding: 5px 25px;
    bottom:0;
    margin: 15px;
    .msg {
      font-size: 9px;
    }
  }
  .type-parc{
    display: none;
  }
  .marque-spec{
    display: none;
  }
  .informatiqueModal{
    margin-top: 50%;
  }
  .declarationModal{
    margin-top:20%;
  }
  .panneModal{
    margin-top:5%;
  }
  .desktopConfirmation{
    display: none;
  }
  .success .msg, .delete .msg{
    padding: 0 0px;
    margin:0px 0px 0px 0px;
  }
  // data tables
  .page-link{
    padding: 8px 8.5px;
    font-size:10px;
  }
  // departement / index
  .fit {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  // profile
  .fitColumns {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  // formulaire
  input, .remove-field, .si-type, .btn-search, .fas-login, .login-input .dateTime, .form-select{
    font-size:10px;
    height: 32px;
  }
  .actions{
    padding: 0px 5px; width:35px;
  }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .departements-item-desc{
    font-size: 15px;
  }
  .departement-desc{
    font-size: 18px;
  }
  .text-span-slide{
    font-size: 12px;
  }
  .app-logo{
    font-size: 18px;
  }
  table{
    .details{
      display:none;
    }
  }
  .type{
    display: none;
  }
  .marque{
    display: none;
  }
  .mobileConfirmation{
    display: none;
  }
  .informatiqueModalVueBtn{
    display: none;
  }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
  .departements-item-desc{
    font-size: 15px;
  }
  .departement-desc{
    font-size: 18px;
  }
  .text-span-slide{
    font-size: 13px;
  }
  .app-logo{
    font-size: 18px;
  }
  .type{
    display: none;
  }
  .marque{
    display: none;
  }
  .mobileConfirmation{
    display: none;
  }
  .informatiqueModalVueBtn{
    display: none;
  }
}

body, button, input, select, textarea {
  font-weight: 400;
  font-style: normal;
}

body{

color:$third-color;
font-size: 14px;
line-height: 1.5;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a{
  text-decoration: none;
  color: $third-color;
}
img{
  cursor: pointer;
}

.text-primary{
  color:$primary-color;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}

.form-select, textarea, input {
  border-radius: 3px;
  padding: 8px 12px;
  width: 100%;
  border: 1px solid $input-color;
}
.input-date{
  height: 42px;
}
.form-border-left{
  border-radius: 3px 0px 0px 3px;
  border-right: 0px solid $input-color;
}
.form-border-right{
  border-radius: 0px 3px 3px 0px;
}

.success-value{
  color:$success;
}
.danger-value{
  color: $danger;
}

.percent{
  .success-value{
    font-size: 16px;
    font-weight: normal;
    font-weight:bold;
  }
  .danger-value{
      font-size: 16px;
      font-weight: normal;
      font-weight:bold;
  }
  .percent-value{
    font-size: 15px;
  }
}
  
//table
table{
  border-collapse: collapse;
  font-size: 11px;
  th{
    padding: 8px 0px;
    border: 1px solid $border-color;
  }
  td{
    padding: 6px 0px;
    border: 1px solid $border-color;
  }
}

}
// vue modal source for both - admin - user
.vue-widgets {
  border-radius: 3px;
  border: 1px solid $border-color;
  background-color: $fifth-color;
  .vue-widget {
      padding: 15px 20px;
      .title {
          color: $gray;
          font-size: 15px;
          font-weight: 600;
      }
      .value {
          font-size: 15px;
          font-weight: 600;
      }
      &:not(:last-child) {
          border-bottom: 1px solid $border-color;
      }
  }
  .is-flex.align-center {
      align-items: center;
  }
  
  .is-flex.justify-space-between {
      justify-content: space-between;
  }
  .is-flex {
      display: flex;
  }
}

// sections
.app-informatique-index,.app-informatique-index-departement, .section-profile,.section-pannes , .section-statistique{
  h5{
    font-size: 20px;
  }
  .card-departement, .card-pannes, .card-profile, .card-statistique{
    border-radius: 3px;
    border: 1px solid $border-color;
    box-shadow: -4px -3px 85px 0px $blue-box-shadow;
  }
  .card-statistique{
    margin-bottom: 55px;
  }
}
.card{
  border-radius: 3px;
  border: 1px solid $border-color;
  box-shadow: -4px -3px 85px 0px rgba(226, 226, 226, 0.151);
  .index-list{
    padding: 15px 20px;
    &:not(:last-child){
      border-bottom: 1px solid $border-color;
    }
    .items{
      color: $fourth-color;
      font-weight: 500;
    }
  }
}
// cards
.card-shadow{
  border-radius: 3px;
  border: 1px solid $border-color;
  height: 130px;
  box-shadow: -4px -3px 85px 0px $blue-box-shadow;
  &:hover {
    box-shadow: -4px -3px 85px 0px darken($color: $blue-box-shadow, $amount: 20%);
  }
  .card-body{
    height: 80px;
  }
}
.card-header{
  background-color: transparent;
  border-bottom: 1px solid $border-color;
}
.card-footer{
  background: transparent;
  height: 40px;
  border-top: 1px solid $border-color;
}
// end cards


/* actions */
.actions .btn, .status .btn{
  padding:5px 10px;
}
.actions i{
  font-weight: normal;
  font-size: 15px ;
}
.actions a {
  margin:0px 0px ;
}

.path-wrapper{
  display: inline-block;
  font-size: 14px;
  .path-list{
    padding: 15px 20px;
    border: 1px solid $border-color;
    border-radius: 3px;
    margin-left: 10px;
    .application{
      font-weight: bold;
      color: $primary-color;
    }
    i{
      margin-left: 10px;
    }
  }
  .current-application{
    box-shadow: 0 5px 20px -10px gray;
    background-color: $primary-color;
    .application{
      color: $fifth-color;
    }
    i{
      color: $fifth-color;
    }
  }
}
.footer-toolbar {
  min-height: 54px;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0 -5px 20px 0 RGB(0 0 0 / 5%);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.footer-toolbar .action{
  padding: 10px 24px;
  width:170px;
}
.footer-toolbar .action-index{
  padding: 8px 24px;
  width:160px;
}

/* branding buttons */

//badge pannes ui
.badge-panne-danger{
  background: rgba(255, 50, 50, 0.226);
  font-weight: 600;
  color: $danger;
  padding: 3px 6px;
  border-radius: 5px;
}
.badge-panne-success{
  background-color: rgba(0,200,83,.2) ;
  font-weight: 600;
  color: $success ;
  padding: 3px 6px;
  border-radius: 5px;
}
.badge-panne-warning{
  background: #6d72f91e ;
  font-weight: 600;
  color: $primary-color;
  padding: 3px 6px;
  border-radius: 5px;
}
.badge-panne-secondary{  
  background: rgba(66, 66, 66, 0.103) ;
  color: rgb(78, 78, 78) ;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 5px;
}

.btn-primary{
  background: $primary-color;
  font-weight: 600;
  border-radius: 2px;
  border: 1px solid $primary-color;
  color:$fifth-color;
}
.btn-primary:hover{
    background: $fifth-color;
    color:$primary-color;
    border: 1px solid #565bdd;
}
.btn-outline-primary{
  border-radius: 2px;
  background: $fifth-color;
  font-weight: 600;
  border: 1px solid #565bdd;
  color:$primary-color;
}
.btn-outline-primary:hover{
  background: $primary-color;
  font-weight: 600;
  border: 1px solid $primary-color;
  color:$fifth-color;
}

.btn-success{
  background-color: rgba(0,200,83,.2) ;
  color: $success ;
  border:none ;
  border-radius: 4px;
  outline: none ;


}
.btn-default{
  background: #6d72f91e ;
  font-weight:600;
  color: $primary-color;
  border:none ;
  border-radius: 4px;
  outline: none ;
}

.btn-danger{
  background: rgba(255, 50, 50, 0.226);
  color: $danger;
  border:none ;
  border-radius: 4px;
  outline: none ;
}
.btn-secondary{
  background: rgba(66, 66, 66, 0.103) ;
  color: rgb(78, 78, 78) ;
  border:none ;
  border-radius: 4px;
  outline: none ;

}
.btn-outline-secondary{
  font-weight: 600;
  transition-property: box-shadow,border;
  transition-duration: .3s;
  transition-timing-function: ease;
  text-shadow: 0 1px 0 #fff;
  background: #f3f3f3;
  white-space: nowrap;
  border: 1px solid #ddd;
  background: linear-gradient(linear,0 40%,0 70%,from(#f3f3f3),to(#f1f1f1));
  border-radius: 3px;
  color: #202020;
  text-decoration: none;
  text-align: center;
}
.btn-main{
  background: rgba(66, 66, 66, 0.103) ;
  color: rgb(78, 78, 78) ;
  border:none ;
  border-radius: 50px;
  padding:5px 8px;
  font-weight: bold ;
  outline: none ;
}
.remove-field {
  border-radius: 0px 3px 3px 0px;
  border-right: 1px solid $input-color;
  border-top: 1px solid $input-color;
  border-bottom: 1px solid $input-color;
}


/* Alert Error */
.alert{
    background: #ff9b9b86;
    padding: 10px 20px;
    min-width:320px;
    position: absolute;
    right:0;
    bottom:0;
    border-radius: 4px;
    border-left: 8px solid #ff8080c2;
    overflow: hidden;
    opacity: 1;
    margin: 15px 25px;
}
.alert .fa-exclamation-circle{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce0000;
    font-size: 20px;
  }
  .alert .msg{
    padding: 0 20px;
    margin:0px 10px 0px 0px ;
    font-size: 13px;
    font-weight: bold;
    color: #ce0000;
  }
  .alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ff8080c2;
    padding: 10px 15px;
    cursor: pointer;
  }
  .alert .close-btn:hover{
    background: #ff8080c9;
  }
  .alert .close-btn .fas{
    color: #ce0000;
    font-size: 15px;
    line-height: 40px;
  }

.alert.hide{
    opacity: 0;
    pointer-events: auto;
}
// except login
.alert-login{
  margin: 15px;
}

// danger system

.danger{
  background: #ff9b9b86;
  padding: 10px 20px;
  min-width:320px;
  position: relative;
  right:0;
  bottom:0;
  border-radius: 4px;
  border-left: 8px solid #ff8080c2;
  overflow: hidden;
  opacity: 1;
  margin-bottom: 10px;
}
.danger .fa-exclamation-circle{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce0000;
  font-size: 20px;
}
.danger .msg{
  padding: 0 20px;
  margin:0px 10px 0px 0px ;
  font-size: 13px;
  font-weight: bold;
  color: #ce0000;
}
.danger .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ff8080c2;
  padding: 10px 15px;
  cursor: pointer;
}
.danger .close-btn:hover{
  background: #ff8080c2;
}
.danger .close-btn .fas{
  color: #ce0000;
  font-size: 15px;
  line-height: 40px;
}

.danger.hide{
  opacity: 0;
  position: absolute;
}


/* success */

.success{
  background: #d4edda;
  padding: 10px 20px;
  min-width:320px;
  position: relative;
  right:0;
  bottom:0;
  border-radius: 4px;
  border-left: 8px solid #4BB543;
  overflow: hidden;
  opacity: 1;
  margin-bottom: 10px;
  
}
.success .fa-check-circle{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #4BB543;
  font-size: 20px;
}
.success .msg{
  padding: 0 20px;
  margin:0px 10px 0px 0px ;
  font-size: 13px;
  font-weight: bold;
  color: #4BB543;
}
.success .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #4bb54323;
  padding: 10px 15px;
  cursor: pointer;
}
.success .close-btn:hover{
  background: #4bb5432f;
}
.success .close-btn .fas{
  color: #4BB543;
  font-size: 15px;
  line-height: 40px;
}

.success.hide{
  opacity: 0;
  position: absolute;
}

/* delete */

.delete{
  background: #6d72f936;
  padding: 10px 20px;
  min-width:320px;
  position: relative;
  right:0;
  bottom:0;
  border-radius: 4px;
  border-left: 8px solid $primary-color;
  overflow: hidden;
  opacity: 1;
  margin-bottom: 10px;
}
.delete .fa-info-circle{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: $primary-color;
  font-size: 22px;
}
.delete .msg{
  padding: 0 20px;
  margin:0px 10px 0px 0px ;
  font-size: 14px;
  font-weight: bold;
  color: $primary-color;
}
.delete .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #6d72f92c;
  padding: 10px 15px;
  cursor: pointer;
}
.delete .close-btn:hover{
  background: #6d72f92c;
}
.delete .close-btn .fas{
  color: $primary-color;
  font-size: 15px;
  line-height: 40px;
}

.delete.hide{
  opacity: 0;
  position: absolute;
}

/* Dashboard */

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: rgba(255, 50, 50, 0.767);
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}

/* trahsed class  */
.trashed{
  background-image:repeating-linear-gradient(45deg,#fff,#fff 10px,#f6f6f6 0,#f6f6f6 20px)
  // background-color: rgba(65, 65, 65, 0.055);
}

/* pagination */

.page-item.active .page-link {
  padding: 8px 12px;
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}
.page-link {
  font-weight: 600;
  padding: 8px 12px;
  color: $primary-color;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  color: $primary-color;
}

.auth-block-title{
  font-size: 18px;
}

/* loader */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	.overlayDoor {
		&:before, &:after {
			content: "";
			position: absolute;
			width: 50%;
			height: 100%;
			background: #6D71F9;
			// transition: .5s cubic-bezier(.77,0,.18,1);
			transition-delay: .8s;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&.loaded {
		.overlayDoor {
			&:before {
				left: -50%;
			}
			&:after {
				right: -50%;
			}
		}
		.overlayContent {
			opacity: 0;
			margin-top: -15px;
		}
	}
	.overlayContent {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: .5s cubic-bezier(.77,0,.18,1);
	}
}
.loader {
	width: 128px;
	height: 128px;
	border: 3px solid #fff;
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	position: relative;
	animation: spin 1s linear infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	.inner {
		width: 64px;
		height: 64px;
		border: 3px solid transparent;
		border-top: 3px solid #fff;
		border-radius: 50%;
		animation: spinInner 1s linear infinite;
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spinInner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-720deg);
	}
}
/* end loader */

// tooltip
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #272848;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -40px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #272848 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: zoom-in-zoom-out 0.3s ease;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.6, 0.6);
  }
  100% {
    transform: scale(1, 1);
  }
}

// circle count parc - pannes after filter ...
.parc-count {
  margin-left: 10px;
}
.parc-count {
  padding: 2px 8px;
  background-color: $primary-color;
  border-radius: 25px;
}
.parc-count {
  color: $fifth-color;
  font-size: 16px;
}

// profile user
#dropProfile{
  .fas{
    color: $fifth-color;
    opacity: .8;
    background-color: #202020a9;
    font-size: 10px;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    margin-left: 60px;
    margin-top: -22px;
  }
  .fas:hover{
    opacity: 1;
    background-color: #202020a9;
    cursor: pointer;
  }
}

// eye 
.inputContainer{
  .field{
    i{
      position: absolute;
      margin-left: 10px;
      color: rgb(85, 85, 85);
      cursor: pointer;
      &:hover{
        color: rgb(0, 0, 0);
      }
    }
    input{
      padding: 8px 35px;
    }
  }
}
// password
.input-data {
  .display span {
    color: grey;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 2;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
  }
}
.checkboxWidth{
  width: 11px;
}